* {
    box-sizing: border-box;
}

body {
    background-color: #011F3F;
}

.red {
    background-color: red;
    grid-area: red;
}

.yellow {
    background-color: yellow;
    grid-area: yellow;
}

.green {
    background-color: green;
    grid-area: green;
}

.blue {
    background-color: blue;
    grid-area: blue;
}

.container {
    display: grid;
    grid-template-areas:
        "red yellow"
        "green blue";
    justify-content: center;
    grid-gap: 2rem 2rem;
}

.box {
    width: 150px;
    height: 150px;
    border: 0.5rem solid black;
    border-radius: 20%;
    cursor: pointer;
    padding: 0;
}

.box:focus {
    outline: none;
}

.box-pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.header {
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.start-button {
    display: block;
    margin: 5rem auto;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #011F3F;
    border: 2px solid black;
}

.start-button:hover {
    opacity: 50%;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}
